<h2 class="form-title">registrosSensores</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">registrosSensores</div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Altura</th>
            <th>Velocidad</th>
            <th>IdSensor</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="competitor in competitors | orderBy: 'id'">
            <td>{{competitor.id}}</td>
            <td>{{competitor.altura}}</td>
            <td>{{competitor.velocidad}}</td>
            <td>{{competitor.idSensor}}</td>
        </tr>
        </tbody>
    </table>
</div> 
