<h2 class="form-title">Sensores</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Sensores</div>
    <!-- Table -->
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Latitud</th>
            <th>Longitud</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="competitor in competitors | orderBy: 'id'">
            <td>{{competitor.id}}</td>
            <td>{{competitor.latitud}}</td>
            <td>{{competitor.longitud}}</td>
        </tr>
        </tbody>
    </table>
</div>
